# visual studio build and settings files
*.sln
*.vcproj
*.user
*.ncb
*.suo

# unix makefiles
/Makefile
/*.make

# binaries and object files
/bin/*
/obj/*

# linux libs autobuilding
/lib/linux/*.a
/lib/src/lua-5.1.4/src/*.o
/lib/src/lua-5.1.4/src/lua*
/lib/src/lua-5.1.4/src/liblua.a
