# generated makefiles
/Makefile.debug
/Makefile.release

# binaries and object files
/hasteD
/haste
/obj/debug/*.o
/obj/release/*.o

# vim swap files
*.swp

# ctags db files
tags

# targa output files
*.tga
